tbody tr:hover,
tbody tr:focus,
tbody tr:active {
    background-color: lightgray;
}

.box {
    position: relative;
    z-index: 1;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}